.profile-img {
  filter: grayscale(25%);
  margin: auto;
}

@media screen and (max-width: 745px) {
  .profile-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}

