section {
    flex: 1 0 auto;
    position: relative;
    width: 100%;
    height: 100vh;
    -webkit-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

.who_am_I {
    font-family: Cinzel;
}

.has-first-color {
    color: var(--primary-color);
}

.btn-portfolio {
    background: var(--primary-color);
    border-radius: 0;
}

.btn-portfolio a {
    color: #000;
    text-decoration: none;
}

.btn-about a {
    color: var(--text-color);
    text-decoration: none;
}

.h_bg-image {
    background-image: var( --bg-anime);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    object-fit: contain;
    width: 100vw;
    height: calc(100vh - 100px);
    position: relative;
    margin-top: 80px;
}

.intro {
    max-width: 750px;
    margin: 0 auto;
}

@media (max-width:991.98px) {
       .intro {
        max-width: 700px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.text h1 {
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: 700;
}

.text h3 {
    font-size: 16px;
    font-weight: 700;
}

.ac_btn {
    padding: 4px 15px;
    color: var( --button-color);
    position: relative;
    border: var(  --button-color) 2px solid;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    cursor: pointer;
    border-radius: 0;
}

.ac_btn a {
    text-decoration: none;
}

.ac_btn:hover {
    box-shadow: 8px 8px 0px var(--text-color), -8px -8px 0px var(--text-color);
    color: var( --button-hover-color);
    
}

.ac_btn:hover .one {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

.ac_btn:hover .two {
    transform: translate3d(0px, 0px, 0px);
}

.ac_btn:hover .three {
    transform: translate3d(0px, 0px, 0px);
}

.ac_btn:hover .four {
    transform: translate3d(0px, 0px, 0px);
}

.ac_btn .ring {
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
    transform: translate3d(0px, 90px, 0px);
}

.ac_btn .one {
    background-color: #000;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -3;
    z-index: -4;
}

.ac_btn .two {
    background-color: var( --button-color);
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -3;
}

.ac_btn .three {
    background-color: var( --button-color);
    z-index: -2;
    transition: all 0.7s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -3;
}

#button_p {
    background: var( --button-color);
    color: var(--primary-color);
}

#button_h:hover {
    color: var(--button-color)
}

.h_bg-image h3 {
    font-size: 14px;
    color: var(--text-color);
    letter-spacing: .1rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.h_bg-image p {
    font-size: 14px;
    line-height: 1.3;
    color: var(--text-color)
}
