/* @import url("https://fonts.googleapis.com/css?family=Righteous"); */
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates"); */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins"); */
/* @import url("//fonts.googleapis.com/css?family=Life+Savers"); */

/* @font-face {
  font-family: "Montserrat Alternates" ,sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates") format("woff"),
    url("https://fonts.googleapis.com/css?family=Righteous");
  font-weight: 400;
  font-style: normal;
} */
* {
  /* font-family: "Montserrat Alternates", sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: "Poppins", sans-serif;
  /* font-family: 'Life Savers', serif; */
  /* font-family: Helvetica, Arial, sans-serif; */
  /* font-display: fallback; */
  transition: 1s all ease;
  letter-spacing: auto;
  line-height: 1.6;
}

/* font: 'Lato', sans-serif !important; */

.body {
  width: 100%;
  overflow: hidden;
  background-color: #283149;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* off canvas styling for different screen sizes */
@media screen and (max-width: 375px) {
  #canvas {
    width: 75%;
  }
}

@media screen and (min-width: 376px) {
  #canvas {
    width: 205px;
  }
}

@media screen and (min-width: 764px) {
  #canvas {
    width: 30%;
  }
}

/* page sides padding */
@media screen and (max-width: 375px) {
  .pad {
    padding: 0.2%;
  }
}

@media screen and (min-width: 376px) {
  .pad {
    padding-left: 6%;
    padding-right: 6%;
  }
}

@media screen and (min-width: 768px) {
  .pad {
    padding-left: 15%;
    padding-right: 15%;
  }
}

/* slide-in animation */
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* backgrounds styling  */
/* .inner-header-bg, */
.service-bg,
.header-bg,
.footer-bg {
  border: none;
  display: flex;
  background-position: center;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  width: 100%;
  height: auto;
  /* width: 100vw; */
  transition: 1s all ease;
}

.inner-header-b {
  background-image: url("/public/inner-bg.svg");
  border: none;
  /* display: flex; */
  background-position: center;
  object-fit: scale-down;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  width: 100%;
  height: auto;
  /* width: 100vw; */
  transition: 1s all ease;
}
/* @media screen and (max-width: 294px) {
  .header-bg,
  .service-bg,
  .footer-bg {
    background-image: url("/public/bg-mobile.svg");
  }
} */

@media screen and (max-width: 360px) {
  .header-bg,
  .service-bg,
  .footer-bg {
    background-image: url("/public/bg-mobile.svg");
  }
}

@media screen and (min-width: 361px) {
  .header-bg,
  .service-bg,
  .footer-bg {
    background-image: url("/public/mini-tab.svg");
  }
}

@media screen and (min-width: 749px) {
  .header-bg,
  .service-bg,
  .footer-bg {
    background-image: url("/public/bg-img-2.svg");
  }
}
/* .footer-bg {
  background-attachment: fixed;
} */

.header-bg,
.footer-bg {
  height: 100vh;
  width: 100vw;
  /* background-attachment: fixed; */
}

/* @media screen and (min-width: 690px) {
  .service-bg{
   height: 100vh;
  }
}  */

.image {
  margin: auto;
  /* margin-top: 10%; */
  border-radius: 50%;
  display: flex;
  background-position: center;
}

@media screen and (max-width: 360px) {
  .image {
    width: 40%;
    margin-bottom: 0%;
    margin-top: 35%;
  }
}

@media screen and (min-width: 361px) {
  .image {
    width: 30%;
    margin-bottom: 1%;
    margin-top: 25%;
  }
}

@media screen and (min-width: 574px) {
  .image {
    width: 20%;
    margin-bottom: 1%;
    margin-top: 1%;
  }
}

@media screen and (min-width: 575px) {
  .image {
    width: 80%;
    /* margin-bottom: 1%;
    margin-top: 18%; */
  }
}

.blue-bg {
  background-color: #4d53b3;
}
.white-bg {
  background-color: #fdfeff;
}
.light-bg {
  background-color: #c3d4ee;
}

.light-text {
  color: #c3d4ee;
}
.white-text {
  color: #fdfeff;
}
.blue-text {
  color: #4d53b3;
}
.dim-blue-text {
  color: #6f7bc5;
}

.dark-text {
  color: #555;
}

#navSwitch {
  color: #4d53b3;
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat Alternates", sans-serif;
}

#navSwitch:hover {
  color: #6f7bc5;
}

#navSwitch:focus,
#navSwitch:visited {
  color: #6f7bc5;
  border-bottom: 1px dotted #4d53b3;
}

@media screen and (max-width: 375px) {
  #navSwitch {
    font-size: 15px;
    font-weight: 300;
    line-height: 40px;
  }
}

@media screen and (min-width: 376px) {
  #navSwitch {
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
  }
}

@media screen and (min-width: 764px) {
  #navSwitch {
    font-size: 20px;
    font-weight: 500;
  }
}

.text-right {
  text-align: right;
}

.items-center {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#icons {
  border: 0.5px solid #fdfeff;
  border-block-end-width: 5px;
  background-color: #c3d4ee;
  transition: 0.8s ease-in-out;
  fill: #4d53b3;
  box-shadow: 0 4px 8px 0 #c3d4eecc, 0 6px 20px 0 #c3d4eecc;
}

.rotating-icons {
  width: 27px;
  height: 27px;
  transition: 0.8s ease-in-out;
}

@media screen and (max-width: 550px) {
  .rotating-icons {
    width: 22px;
    height: 22px;
  }
}

#icons:hover,
#icons:focus {
  background-color: #fdfeff;
  transition: 0.8s ease-in-out;
  background-image: linear-gradient(#c3d4ee, #c3d4ee 50%, #fdfeff 50%, #fdfeff);
  background-size: 100% 200%;
  transition: background-position 0.8s;
  background-position: 0 -100%;
}

.rotating-icons:hover {
  transform: rotate(360deg);
  transition: 0.8s ease-in-out;
}

.page-scaler {
  transition: ease-in-out 1s;
}

.page-scaler:hover {
  transform: scale(1.05, 1.05);
  transition: ease-in-out 1s;
}

/* responsive text */
/* .responsive-text {
    font-weight: bold;
} */

@media screen and (max-width: 375px) {
  .responsive-text {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .responsive-text {
    font-size: 15;
  }
}

@media screen and (min-width: 1024px) {
  .responsive-text {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .responsive-text {
    font-size: 17px;
  }
}

@media screen and (min-width: 1800px) {
  .responsive-text {
    font-size: 18px;
  }
}

/* headings */
.headers, .headers-2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  line-height: 1.6;
}
.headers {
  color:#fdfeff;
}

.headers-2 {
}

@media screen and (max-width: 375px) {
  .headers {
    font-size: 18px;
  }
}

@media screen and (min-width: 376px) {
  .headers {
    font-size: 21px;
  }
}

@media screen and (min-width: 749px) {
  .headers {
    font-size: 27px;
  }
}

@media screen and (max-width: 375px) {
  .headers-2 {
    font-size: 20px;
  }
}

@media screen and (min-width: 376px) {
  .headers-2 {
    font-size: 25px;
  }
}

@media screen and (min-width: 768px) {
  .headers-2 {
    font-size: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .headers-2 {
    font-size: 50px;
  }
}

.scroll-down-btn {
  position: absolute;
  bottom: 5px;
}

/* .header-text-wrap { */
  /* display: flex;
  flex-direction: column;
  position: relative; */
  /* text-align: center;
  align-items: center; */
/* } */

.git-link,
.site-link {
  position: absolute;
  bottom: 18px;
  /* margin-top: 25px; */
}

.git-link {
  left: 25%;
}

.site-link {
  right: 25%;
}
.offer-bg {
  transform: rotate3d(0.5, 0.866, 0, 15deg) rotate(-1deg);
  background-color: #fdfeff;
}

.card {
  transition: 0.8s;
  scroll-snap-align: start;
  clear: both;
  position: relative;
  animation: 1s ease-out 0s 1 slideInLeft;
  border: none !important;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  background-color: #c3d4ee !important;
}

.card:hover,
.card:focus {
  /* background-color: #FDFEFF; */
  transform: scale(1.05, 1.05);
  transition: all 0.8s;
  text-shadow: none;
  border-color: #6f7bc5;
  /* background: linear-gradient(#c3d4ee, rgba(195, 212, 238)); */
  /* background: linear-gradient( #FDFEFF,#d2dde9); */

  /* box-shadow: 0 4px 8px 0 #c3d4ee, 20 4px 200px 0 #FDFEFF; */

  box-shadow: 0 4px 8px 0 #c3d4ee,
    0 6px 20px 0 #fdfeff;
}

.project-image {
  padding: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  max-height: 130px;
  width: 100%;
  transition: 1s;
  background-color: #4d53b3;
  /* box-shadow: 0 4px 8px 0 rgba(77, 83, 179, 0.5),
    0 6px 20px 0 rgba(77, 83, 179, 0.5); */

  /* border: 1px solid transparent; */
}

/* .card-container .card {
  -webkit-transition: .3s all ease;
  transition: .15s all ease;
} */

.read-or-hide {
  color: #4d53b3;
  font-weight: bold;
  cursor: pointer;
}

.load-more-button {
  background-image: url("/public/button.svg");
  /* border: 1px solid #4d53b3; */
  background-color: #c3d4ee;
  color: #fdfeff;
  box-shadow: 0 4px 8px 0 #c3d4eecc,
    0 6px 20px 0 #c3d4eecc;
}

.load-more-button-2 {
  background-image: url("/public/button-2.svg");
  /* border: 1px solid #c3d4ee; */
  background-color: #4d53b3;
  color: #4d53b3;
  box-shadow: 0 4px 8px 0 rgba(77, 83, 179, 0.5),
    0 6px 20px 0 rgba(77, 83, 179, 0.5);
}

.load-more-button,
.load-more-button-2 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  display: inline-block;
  border-radius: 25px;
  /* padding: 1px; */
  width: 160px;
  margin: auto;
  transition: 1s ease-in-out;
  height: 33px;
  border: none;
}

.load-more-button:hover {
  transform: scale(1.04, 1.04);
  background-color: #c3d4ee;
  background-image: linear-gradient(#c3d4ee, #4d53b3 50%, #4d53b3 50%, #c3d4ee);
  background-size: 100% 200%;
  transition: background-position 1s ease-in-out;
  background-position: 0 -100%;
  color: #4d53b3;
}

.load-more-button-2:hover {
  transform: scale(1.04, 1.04);
  transition: ease-in-out 1s;
  background-color: #4d53b3;
  color: #fdfeff;
  background-image: linear-gradient(#4d53b3, #c3d4ee 50%, #c3d4ee 50%, #4d53b3);
  background-size: 100% 200%;
  transition: background-position 1s ease-in-out;
  background-position: 0 -100%;
}

/* different slide and reveal animations used for text, buttons and images*/
@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }

  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes outer-left {
  from {
    transform: translateX(50%);
  }

  to {
    transform: none;
  }
}

@keyframes inner-left {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: none;
  }
}

.slide-in,
.reveal {
  animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.slide-in-inner {
  animation: inner-left 1s 1s ease both,
    text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.reveal-inner {
  animation: text-clip 2s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.title {
  animation: outer-left 1s 1s ease both;
}

@keyframes scaleIn {
  100% {
    transform: scaleX(1);
  }
}

/* @keyframes slideIn {
  100% {
    transform: translateY(0);
  }
} */

/* bounce animation */
@-webkit-keyframes bounce {
  0% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-5px);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-5px);
  }
}

.bounce {
  border-radius: 100%;
  -webkit-animation: bounce 2s infinite ease-in-out;
  -o-animation: bounce 2s infinite ease-in-out;
  -ms-animation: bounce 2s infinite ease-in-out;
  /* -moz-animation: bounce 2s infinite ease-in-out; */
  animation: bounce 2s infinite ease-in-out;
}

/* shake animation */
.shake {
  animation: shake-animation 4.72s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes shake-animation {
  0% {
    transform: translate(0, 0);
  }

  1.78571% {
    transform: translate(5px, 0);
  }

  3.57143% {
    transform: translate(0, 0);
  }

  5.35714% {
    transform: translate(5px, 0);
  }

  7.14286% {
    transform: translate(0, 0);
  }

  8.92857% {
    transform: translate(5px, 0);
  }

  10.71429% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

li {
  list-style-type: none;
}

p a,
span a {
  text-decoration: none;
  font-weight: bold;
}

p span a:hover {
  color: #fff;
}

p a {
  color: #4d53b3;
}

p a:hover {
  color: #6f7bc5;
}

/* skill bar styling  */
.Count:after {
  content: "%";
}

.skillbar-bar {
  /* height:35px; */
  /* width:0px; */
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

.skillbar {
  box-shadow: 0 4px 8px 0 rgba(77, 83, 179, 0.5),
    0 6px 20px 0 rgba(77, 83, 179, 0.5);
  position: relative;
  display: block;
  margin-bottom: 1rem;
  width: 100%;
  /* background:#FDFEFF; */
  height: 30px;
  border-radius: 3px;
  transition: 0.7s linear;
  -webkit-border-radius: 3px;
  -webkit-transition: 0.7s linear;
  -ms-transition: 0.7s linear;
  -o-transition: 0.7s linear;
  animation: progress 0.7s ease-in-out forwards;
  /* opacity: 0; */

  -webkit-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  color: #fdfeff;
  /* background:#6adcfa; */
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.2);
  /* background-color: #4d53b3; */
  /* padding:.5px .5px; */
  height: 30px;
  line-height: 28px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-title span:hover {
  /* background-color: #6f7bc5; */
  background: rgba(0, 0, 0, 0.5);
  transition: 0.7s ease-in-out;
}

.skill-bar-percent {
  position: absolute;
  right: 5px;
  top: 0;
  height: 30px;
  line-height: 30px;
  color: #4d53b3;
  border-radius: 3px;
  font-size: 0.85rem;
  /* z-index: 1; */
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

textarea,
input {
  width: 100%;
  border: none;
  transition: 0.7s ease-in-out;
  border-style: none;
  border-color: Transparent;
  overflow: auto;
  outline: none;
  height: auto;
}

.whatsapp_widget_footer_btn {
  text-decoration: none;
  padding: 5px !important;
  border: none;
  border-radius: 25px !important;
  font-size: 15px;
  line-height: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 80% !important;
  margin: auto !important;
  background-image: url("/public/button-4.svg");
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #fdfeff !important;
  box-shadow: 0 4px 8px 0 #4d53b3, 0 6px 20px 0 #4d53b380 !important;
  transition: background-position 1s ease-in-out !important;
}

.whatsapp_widget_footer_btn:hover {
  transform: scale(1.04, 1.04);
  background-color: #25d366 !important;
  background-image: linear-gradient(#25d366, #fdfeff 50%, #fdfeff 50%, #25d366);
  background-size: 100% 200%;
  transition: background-position 1s ease-in-out !important;
  background-position: 0 -100%;
  color: #fdfeff !important;
}

.promoBox {
  display: inline-block;
  position: relative;
  margin: 5px;
  padding: 10px;
  width: 300px;
  border: 2px solid #ddd;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;

  /* background: #fdfeff; */
  /* background: -moz-linear-gradient(-45deg, #fdfeff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#fdfeff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6));
	background: -webkit-linear-gradient(-45deg, #fdfeff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: -o-linear-gradient(-45deg, #fdfeff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: -ms-linear-gradient(-45deg, #fdfeff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); */
  /* background: linear-gradient(135deg, #fdfeff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); */
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfeff', endColorstr='#f6f6f6',GradientType=1 ); */

  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.promoBox aside {
  position: absolute;
  width: 230px;
  right: 0;
  margin: 0 -65px 0 0;
  /* -webkit-transform: rotate(35deg); */
  /* -khtml-transform: rotate(35deg);
	   -moz-transform: rotate(35deg);
		-ms-transform: rotate(35deg); */
  transform: rotate(35deg);
  /* -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2); */
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;

  color: #fdfeff;
  /* background: #6f7bc5; */
  /* background: -moz-linear-gradient(-45deg, #6f7bc5 0%, #6f7bc5 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#6f7bc5), color-stop(100%,#6f7bc5));
	background: -webkit-linear-gradient(-45deg, #6f7bc5 0%,#6f7bc5 100%);
	background: -o-linear-gradient(-45deg, #6f7bc5 0%,#6f7bc5 100%);
	background: -ms-linear-gradient(-45deg, #6f7bc5 0%,#6f7bc5 100%); */
  /* background: linear-gradient(135deg, #6f7bc5 0%,#6f7bc5 100%); */
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f7bc5', endColorstr='#6f7bc5',GradientType=1 ); */
}

.promoBox aside p {
  padding: 10px 80px 10px 80px;
  margin: 0;
}
.promoBox h4 {
  font-size: 25px;
  margin: 0;
  padding: 0 35% 10px 0;
  line-height: 25px;
  border-bottom: 1px solid #4d53b3;
}
.promoBox p {
  font-size: 13.5px;
}

/* COLOR: Box & Text */
.promoBox.info-box {
  /* background: #4d53b380; */
  /* background: -moz-linear-gradient(-45deg, #e0f3fa 0%, #d8f0fc 50%, #b8e2f6 51%, #b6dffd 100%); */
  /* background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#e0f3fa), color-stop(50%,#d8f0fc), color-stop(51%,#b8e2f6), color-stop(100%,#b6dffd)); */
  /* background: -webkit-linear-gradient(-45deg, #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); */
  /* background: -o-linear-gradient(-45deg, #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); */
  /* background: -ms-linear-gradient(-45deg, #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); */
  background: linear-gradient(
      135deg,
      #fdfeff 0%,
      #6f7bc5 50%,
      #6f7bc5 51%,
      #4d53b3 100%
    ),
    url("/public/bg-img-2.svg");
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=1 ); */
  border-color: #fdfeff;

  /* background-image: url("/public/bg-img-2.svg"); */
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
.promoBox.info-box h4 {
  color: #4d53b3;
  border-color: #6f7bc5;
}

/* COLOR: Ribbon
\* --------------------------------- */
.promoBox.info-ribbon aside {
  background: #4d53b3;
  /* background: -moz-linear-gradient(top, #4d53b3 0%, #6f7bc5 50%, #4d53b3 51%, #c3d4ee 100%); */
  /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6f7bc5), color-stop(50%,#6f7bc5), color-stop(51%,#4d53b3), color-stop(100%,#c3d4ee)); */
  /* background: -webkit-linear-gradient(top, #4d53b3 0%,#6f7bc5 50%,#4d53b3 51%,#c3d4ee 100%); */
  /* background: -o-linear-gradient(top, #4d53b3 0%,#6f7bc5 50%,#4d53b3 51%,#c3d4ee 100%); */
  /* background: -ms-linear-gradient(top, #4d53b3 0%,#6f7bc5 50%,#4d53b3 51%,#c3d4ee 100%); */
  background: linear-gradient(
    to bottom,
    #4d53b3 0%,
    #6f7bc5 50%,
    #4d53b3 51%,
    #c3d4ee 100%
  );
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f7bc5', endColorstr='#c3d4ee',GradientType=0 ); */
}

.whatsapp_widget_icon {
  border: solid 1px #eee;
  box-shadow: 0 4px 8px 0 #c3d4eecc, 0 6px 20px 0 #c3d4eecc !important;
}

.whatsapp_widget_icon:hover {
  transition: 0.8s ease-in-out;
  background-image: linear-gradient(
    #25d366,
    #25d366 50%,
    #c3d4eecc 50%,
    #c3d4eecc
  );
  background-size: 100% 200%;
  transition: background-position 0.8s;
  background-position: 0 -100%;
}

/* .whatsapp_widget_icon {
  border: solid 1px #eee;
  box-shadow: 0 4px 8px 0 #c3d4eecc, 0 6px 20px 0 #c3d4eecc !important;
  border-top-left-radius: 2px !important;
} */

.promotion-card {
  /* font-family: "Montserrat", sans-serif;  */
  background: #fdfeff;
  /* width: 500px; */
  height: auto;
  position: relative;
  overflow: hidden;
  /* box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.15); */
  border-radius: 4px;
  transition: 0.8s ease;
}
.promotion-card .promotion-content {
  /* color: white; */
  padding: 1em;
  max-width: 80%;
  position: relative;
  z-index: 2;
}

.promotion-card .promotion-blob {
  position: absolute;
  right: -80px;
  top: -80px;
  width: 360px;
  height: 360px;
  background: #c3d4ee;
  border-radius: 320px;
  /* opacity: 0.8; */
  transition: 0.2s ease;
}
.promotion-card .promotion-blob::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 240px;
  height: 240px;
  background: #6f7bc5;
  border-radius: 320px;
  /* opacity: 0.9; */
  transition: 0.25s ease;
}
/* .promotion-card .promotion-blob::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 160px;
  height: 160px;
  background: #4d53b3;
  border-radius: 320px;
  transition: 0.27s ease;
}
.promotion-card:hover {
  transform: translateY(-5%);
}
.promotion-card:hover .promotion-blob {
  width: 540px;
  height: 540px;
}
.promotion-card:hover .promotion-blob::after {
  width: 240px;
  height: 240px;
} */
/* .promotion-card:hover .promotion-blob::before {
  width: 360px;
  height: 360px;
}

.promotion-card-deck {
  display: flex;
  gap: 1em;
  position: relative;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.ripple-bg {
  background-color: #4d53b3 !important;
  background-image: linear-gradient(90deg, #6f7bc5, #c3d4ee);
  /* width: 100%; */
  opacity: .9;
  text-align: center;
  /* line-height: 50; */

}

.ripple-wrapper {
  height: 260px;
  width: 260px;
  position: absolute;
  top: 45%;
  left: 0%;
  border-radius: 500px;
  z-index: 1;
}

/* .ripple-wrapper span{ */
/* line-height: 50px !important; */
/* font-size:30px */
/* } */

.ripple-wrapper .ripple {
  position: absolute;
  width: 260px;
  height: 260px;
  z-index: -1;
  /* top: 45%;
  left: 0; */
  opacity: 0;
  line-height: 50;

  /* margin: auto; */
  /* margin: 80px 0 0 -80px; */
  border-radius: 500px;
  -webkit-animation: ripple 5s infinite;
  animation: ripple 5s infinite;
}

@-webkit-keyframes ripple {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes ripple {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.ripple-wrapper .ripple:nth-child(2) {
  animation-delay: 3s;
  -webkit-animation-delay: 3s;
}

.ripple-wrapper .ripple:nth-child(3) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

@media screen and (max-width: 360px) {
  .ripple-wrapper, .ripple-wrapper .ripple {
    top: 25%;
    left: 1%;
  }
}

@media screen and (min-width: 361px) {
  .ripple-wrapper, .ripple-wrapper .ripple {
    top: 30%;
    left: 13%;
  }
}

@media screen and (min-width: 600px) {
  .ripple-wrapper, .ripple-wrapper .ripple {
    top: 10%;
    left: 30%;
  }
} 

@media screen and (min-width: 700px) {
  .ripple-wrapper, .ripple-wrapper .ripple {
    top: 15%;
    left: 37%;
  }
} 

@media screen and (min-width: 900px) {
  .ripple-wrapper, .ripple-wrapper .ripple {
    top: 15%;
    left: 50%;
  }
} 

/* @media screen and (min-width: 574px) {
  .ripple-wrapper, .ripple-wrapper .ripple {
    top: 15%;
  } */
/* } */




/* *, ::before, ::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}
html *,
html :before,
html :after {
  box-sizing: inherit;
} */

.wavy-line {
  /* width: 150px; */
  height: 50px;
  overflow: hidden;
  margin: 0 auto 0 auto;
}
.wavy-line:before {
  content: attr(data-text);
  position: relative;
  top: -35px;
  color: rgba(0,0,0,0);
  width: calc(100% + 27px);
  font-size: 4em;
  text-decoration-style: wavy;
  text-decoration-color: #25173A;
  text-decoration-line: underline;
  animation: animate 1s linear infinite;
  -webkit-animation: animate 1s linear infinite;
}

@keyframes animate {
  0% { left: -0px; }
  100% { left: -30px;}
}
@-webkit-keyframes animate {
  0% { left: -0px; }
  100% { left: -30px;}
}

.wavy-line-blue:before { text-decoration-color: #6f7bc5; }
.wavy-line-light:before { text-decoration-color: #c3d4ee; }
.wavy-line-white:before { text-decoration-color: #fdfeff; }
