:root {
    --bg-color: #090909;
    --primary-color: #090909;
    --secondary-color: #121212;
    --card-text-color: #ccc;
    --text-color: #ccc;
    --text-color-3: #ff6600;
    --text-muted: #888787 !important;
    --social-icons-color: #ff6600;
    --button-color: #ff6600;
    /* --bg-anime: url('/public/animation/earth-black-unscreen.gif'); */
    --overlay-color: #090909;
    --header-ribon: #ff6600;
    --ribon-icon-color: #fefcff;
    --ribon-icon-hover: #ccc;
    --img-bg-color-2: #ff6600;
    --img-bg-color-1: #fefcff;
    --blob-color-1: rgba(255, 102, 0, 0.5);
    --blob-color-2: #ff6600;
    --border-color: rgb(204, 204, 204);
    --testimonial-img-hover-color: rgb(245, 156, 96);
    --box-shadow-color: rgba(204, 204, 204, 0.2);
    --img-hover-color:#000 ;
    --menu-border: #2e2e2e;
    --link-color: #ff6600;
}

[data-theme="light"] {
    --bg-color: #e5e5e5;
    /* --bg-color: #d5baf8; */
    --primary-color: #e5e5e5;
    --secondary-color: #dbd8d8;
    --card-text-color: #4B0082;
    --text-color: black;
    --text-color-2: 4;
    --text-color-3: #4b0082;
    --button-color: #4B0082;
    /* --bg-anime: url('/public/animation/chiffres-defilants-unscreen.gif'); */
    --social-icons-color: #4B0082;
    --overlay-color: #ccc;
    --header-ribon: #4B0082;
    --ribon-icon-color: #fefcff;
    --ribon-icon-hover: #ccc;
    --text-muted: #000 !important;
    --img-bg-color-2: #fefcff;
    --img-bg-color-1: #4b0082;
    --blob-color-1: #A97EE1;
    --blob-color-2: #4b0082;
    --border-color: #fefcff;
    --testimonial-img-hover-color: rgb(169, 126, 225);
    --box-shadow-color: rgb(169, 126, 225, 0.6);
    --img-hover-color: rgba(75, 0, 130, 0.5);
    --menu-border: #999999;
    --link-color: #4b0082;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-left: 10px solid var(--primary-color);
    border-right: 10px solid var(--primary-color);
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Marcellus;
}

a,
a:hover {
    color: var(--text-color);
}

p {
    word-break: break-word;
    hyphens: auto;
    font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
p {
  font-size: .96rem;
}
}

.ovhidden {
    overflow: hidden;
}

.text_2,
.text_2:hover {
    color: var(--text-color-2);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.cursor__dot div {
    z-index: 999999 !important;
}

.cursor__dot div:last-child {
    background-color: var(--text-color-3) !important;
}

.cursor__dot div:first-child {
    filter: invert(1);
    background-color: var(--overlay-color) !important;
}

.color_pr {
    color: var(--primary-color) !important;
}

.color_sec {
    color: var(--sub-title-text-color);
}

.top {
    --top: 
     linear-gradient(#000 0 0) top/100% calc(100% - 50px) no-repeat,
     radial-gradient(farthest-side,#000 98%,#0000) bottom/100px 100px no-repeat;
    -webkit-mask: var(--top);
            mask: var(--top);
  }
  .bottom {
    --bottom: radial-gradient(calc(10px + 50px) at 50% -10px,#0000 98%,#000);
    -webkit-mask: var(--bottom);
            mask: var(--bottom);
    margin-top: -40px;
  }

.link-color {
color: var(--link-color);
}

.common-bg {
    /* background-color: var(--secondary-color); */
    background-color: var(--primary-color);
    transition: all ease 0.3s;
}

.common-bg:hover {
    background-color: var(--overlay-color);
    transition: all ease 0.3s;
}

.common-img {
    /* filter: grayscale(99%); */
    width: 100%;
    background-color: var(--secondary-color);
    max-height: 300px;
    transition: 0.5s all ease;
    border-radius: 0%;
    border: 7px solid var(--primary-color);
    box-shadow: 0px 16px 48px 0px var(--box-shadow-color);
    /* mix-blend-mode:exclusion; */
    /* filter:drop-shadow(50%); */
}

.common-img:hover {
    max-width: 100%;
    transition: 0.5s all ease;
    box-shadow: 0px 16px 48px 0px var(--img-hover-color);
} 
