:root {
    --bg-color: black;
    --primary-color: black;
    --secondary-color: #1d1d1d;
    --card-text-color: #fdfeff;
    --text-color: #fdfdfd;
    --text-color-2: #fdfeff;
    --text-color-3: #e8b923;
    --social-icons-color: #e8b923;
    --button-color: #e8b923;
    --bg-anime: url('/public/animation/earth-black.gif');
    --overlay-color: #252525;
    --header-ribon: #d4af37;
    --text-muted: rgb(170, 169, 169) !important;
}

[data-theme="light"] {
    --bg-color: #fdfdfd;
    --primary-color: #fdfeff;
    --secondary-color: #e4e1e2;
    --card-text-color: black;
    --text-color: black;
    --text-color-2: black;
    --text-color-3: #ff0000;
    --button-color: #ff0000;
    --bg-anime: url('/public/animation/chiffres-defilants.gif');
    --social-icons-color: #ff0000;
    --overlay-color: #c7c4c4;
    --header-ribon: #ff0000;
    --text-muted: rgb(78, 78, 78) !important;

}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-left: 10px solid var(--primary-color);
    border-right: 10px solid var(--primary-color);
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Marcellus;
}

a,
a:hover {
    color: var(--text-color);
}

p {
    word-break: break-word;
    hyphens: auto;
    font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
p {
  font-size: .96rem;
}
}

.ovhidden {
    overflow: hidden;
}

.text_2,
.text_2:hover {
    color: var(--text-color-2);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.cursor__dot div {
    z-index: 999999 !important;
}

.cursor__dot div:last-child {
    background-color: var(--text-color-3) !important;
}

.cursor__dot div:first-child {
    filter: invert(1);
    background-color: var(--overlay-color) !important;
}

.color_pr {
    color: var(--primary-color) !important;
}

.color_sec {
    color: var(--sub-title-text-color);
}

.top {
    --top: 
     linear-gradient(#000 0 0) top/100% calc(100% - 50px) no-repeat,
     radial-gradient(farthest-side,#000 98%,#0000) bottom/100px 100px no-repeat;
    -webkit-mask: var(--top);
            mask: var(--top);
  }
  .bottom {
    --bottom: radial-gradient(calc(10px + 50px) at 50% -10px,#0000 98%,#000);
    -webkit-mask: var(--bottom);
            mask: var(--bottom);
    margin-top: -40px;
  }
