/* po_item = portforlio item. The rest is self explanatory. */

.po_items_home {
    background: var(--secondary-color);
    /* padding: 0; */
    margin: 0;
    justify-content: center;
    padding: 15px;
    transition: 0.5s all ease;
}

.po_items_home:hover {
    transform: scale(1.05, 1.05);
    transition: 0.5s all ease;
    background: var(--overlay-color);
}

.po_item {
    margin: 0.8rem auto;
    position: relative;
    transition: 0.3s all ease;
    justify-content: center;
}

.po_item img {
    width: 100%;
    background-color: transparent;
    max-height: 300px;
    transition: 0.5s all ease;
    border-radius: 0%;
    border: 7px solid var(--primary-color);
    box-shadow: 0px 16px 48px 0px var(--box-shadow-color);
}

.po_item img:hover {
    max-width: 100%;
    transition: 0.5s all ease;
    box-shadow: 0px 16px 48px 0px var(--img-hover-color);
}

.po_item .content {
    z-index: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: 0.3s ease-in-out;
}

.po_item .content {
    transition-delay: 1s;
    transition: 0.3s ease;
    font-size: 17px;
    color: var(--text-color-2)
}


.po_item .content a {
    color: var(--button-color);
    padding: 4px 8px;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
}

.po_item .content a:hover {
    text-decoration: none;
}


@media screen and (max-width: 574px) {
    .mobile {
display: block;
}
.non-phone-screen {
    display: none;
    } 
}

@media screen and (min-width: 575px) {
   .non-phone-screen {
display: block;
} 
.mobile {
    display: none;
    }
}
